<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.pauldemarco.flutter_blue">
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

  <!-- android 12 （sdk31）蓝牙增加权限，如果需要搜索ble  android:usesPermissionFlags = "neverForLocation" 注意这个添加-->
  <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags = "neverForLocation" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
</manifest>
